<div class="educacion">
  <h2>Educación</h2>
  <div class="row">
    <div class="col">
      <div class="edu">
        <img src="../../../assets/enslogo.jpg" alt="" />
        <h4>
          Escuela Normal Superior 10 Juan Bautista Alberdi
          <p>Orientacion: Ciencias Naturales | 2017-2021</p>
        </h4>
      </div>
      <div class="edu">
        <img src="../../../assets/arglogo.png" alt="" />
        <h4>
          #SéProgramar - Argentina Programa
          <p>Febrero - Marzo 2022</p>
        </h4>
      </div>
      <div class="edu">
        <img src="../../../assets/jalogo.png" alt="" />
        <h4>
          Yo puedo Programar - Junior Achievement Argentina
          <p>Mayo - Junio 2022</p>
        </h4>
      </div>
    </div>
    <div class="col">
      <div class="edu">
        <img src="../../../assets/arglogo.png" alt="" />
        <h4>
          #YoProgramo - Argentina Programa (En curso)
          <p></p>
        </h4>
      </div>
      <div class="edu">
        <img src="../../../assets/caclogo.png" alt="" />
        <h4>
          Codo a Codo (En curso)
          <p>Desarrollo web NodeJs</p>
        </h4>
      </div>
      <div class="edu">
        <img id="guayerd" src="../../../assets/guayerdlogo.png" alt="" />
        <h4>
          Potenciando Oportunidades - Guayerd (En curso)
          <p></p>
        </h4>
      </div>
    </div>
  </div>
</div>
