<div class="hard-soft">
  <h2>Hard and Soft Skills</h2>
  <div class="col-1">
    <div class="hard">
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/html-file.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
      <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/css-file-format.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
      <circle-progress
        [percent]="40"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/js.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
    </div>
  </div>
  <div class="col-2">
    <div class="soft">
      <circle-progress
        [percent]="90"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/colaboracion.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/comunicacion.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
      <circle-progress
        [percent]="95"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'rgb(173, 134, 194)'"
        [innerStrokeColor]="'rgb(124, 57, 184)'"
        [animation]="true"
        [animationDuration]="600"
        [imageSrc]="'../../../assets/calendario.png'"
        [imageWidth]="40"
        [imageHeight]="40"
        [showImage]="true"
      ></circle-progress>
    </div>
  </div>
</div>
