@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.hard-soft {
  font-family: "Open Sans", sans-serif;
  margin: 5%;
  border-bottom: solid 2px rgb(124, 57, 184);
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
}

.hard,
.soft {
  display: flex;
  align-items: center;
  gap: 26%;
}

h2{
    margin-bottom: 2%;
}

circle-progress{
    margin-bottom: 1%;
}