<div class="proyectos">
  <h2>Proyectos</h2>
  <h3>Junior Archievement - Mi primera página web | Fecha:</h3>
  <p>
    Realizar tu primera página web utilizando el material y todo lo aprendido en
    este curso.
  </p>
  <img src="" alt="" />
  <!-- adjuntar img del proyecto -->
  <h3>Codo a Codo - Proyecto integrador HTML y CSS| Fecha:</h3>
  <p>
    Replicar una página web con lo visto en clase hasta el momento con el uso de
    bootstrap.
  </p>
  <img src="" alt="" />
  <h3>Codo a Codo - Proyecto integrador JS| Fecha:</h3>
  <p>
    Deberá contener la funcionalidad en Javascript, al momento de presionar el
    botón “Resumen”, deberá mostrar en la sección “Total a Pagar: $”, el monto
    correspondiente a la cantidad de tickets a comprar con el descuento
    correspondiente dependiendo la categoría seleccionada, existen 3 categorías,
    Estudiante, Trainee, Junior.
  </p>
  <img src="" alt="" />
  <h3>Guayerd - Proyecto integrador final | Fecha:</h3>
  <p>
    Replicar la página web implementando todo lo aprendido en la cursada usando
    HTML, CSS, JS, Bootstrap y APIs.
  </p>
  <img src="" alt="" />
</div>
